<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <!-- Container wrapper -->
  <div class="container">
    <a class="navbar-brand" routerLink="/admin">CAR DATA MANAGER</a>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-danger" routerLink="AddCar"><!--(Click)="AddCar()"--> Add Car</button>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-danger" routerLink="GetCar"> Show Cars</button>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-danger" routerLink="PendingPurchaseCar"> Purchase Pending</button>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-danger" routerLink="SoldCar"> Sold Cars</button>

        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-danger" routerLink="DeletedCar"> Deleted Cars</button>
        </li>
      </ul>
    </div>
    <form>
      <input type="search" placeholder="Search for car.....">
    </form>
  </div>
</nav>